# /opt/wolgyeham/server.env 예시. 비밀값이 아닌 서버 설정만 둡니다(비밀값은 SSM Parameter Store).
AWS_REGION=ap-northeast-2
API_IMAGE=<계정ID>.dkr.ecr.ap-northeast-2.amazonaws.com/wolgyeham-api
OPS_BUCKET=wolgyeham-ops-<계정ID>
